@{
    ViewData["Title"] = "Home";
}

@model NIDashboard.Models.Home.HomeIndexModel

@if (Model.LatestPosts.Any())
{
    <div class="headerTitle">
        <h1>
            Latest Announcements
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-hover table-borderless" id="latestPostsTable">
                <tbody>
                    @foreach (var post in Model.LatestPosts)
                    {
                        <tr>
                            <td class="postContainer">
                                <div class="row">
                                    <div class="col-auto postTitle">
                                        <a class="text-decoration-none" asp-controller="Post" asp-action="Index" asp-route-id=@post.Id>
                                            @post.Title
                                        </a>
                                    </div>
                                    <a class="align-self-center" text-decoration-none" asp-controller="Section" asp-action="Topic" asp-route-id="@post.Section.Id">
                                        <div class="badge badge-pill badge-primary col-auto">
                                            @post.Section.Title
                                        </div>
                                    </a>
                                </div>
                                <div class="row">
                                    <div class=" col-auto postSubTitle">
                                        Posted by @post.AuthorName | 
                                        @post.DatePosted
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div>
        <h3>
            It's empty here.
        </h3>
        <h4>
            I think someone ate all your posts.
        </h4>
    </div>
}
