@{
    ViewData["Title"] = @Model.Title;
}

@model NIDashboard.Models.Post.PostIndexModel

<div class="container">
    <div class="row">
        <a asp-controller="Section" asp-action="Topic" asp-route-id=@Model.SectionId class="btn btn-primary col-auto">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h3 class="col">
            @Model.Title
        </h3>
    </div>
</div>


<div>
    Author: @Model.AuthorName
    Created: @Model.Created
</div>

<div>
    @Model.PostContent
</div>