@{
    ViewData["Title"] = @Model.Title;
}

@model NIDashboard.Models.Post.PostIndexModel

<div class="container">
    <div class="row">
        <h2 class="col text-primary">
            @Model.Title
        </h2>
        <a asp-controller="Section" asp-action="Topic" asp-route-id=@Model.SectionId class="btn btn-outline-primary col-auto align-self-center justify-content-end btnCustom">
            Back to @Model.SectionName
        </a>
    </div>
    <div class="row">
        <div class="col secondaryContent">
            Posted by <strong>@Model.AuthorName</strong> on @Model.Created
        </div>
    </div><hr />
    <p class="postContent">
        @Html.Raw(@Model.PostContent)
    </p>
    <hr />
    <div class="row justify-content-end">
        @if (User.IsInRole("HOD") || User.IsInRole("Teacher"))
        {
            <a class="col-auto btn btn-outline-danger btnCustom" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">
                <i class="fas fa-trash"></i> Delete
            </a>
        }
    </div>
</div>