@using NIDashboard.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Announcements";
}
@model NIDashboard.Models.Section.SectionTopicModel

<div class="row">
    <h1 class="col">
        @Model.Section.Title
    </h1>
    @if (User.IsInRole("HOD") || User.IsInRole("Teacher"))
    {
        <form class="col-auto align-self-center">
            <div>
                <a class="btn btn-outline-danger" asp-controller="Section" asp-action="Delete" asp-route-id="@Model.Section.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </form>
    }
</div>

@if (Model.Posts.Any())
{
    @if (User.IsInRole("HOD") || User.IsInRole("Teacher"))
    {
        <a asp-controller="Post" asp-action="Create" asp-route-id=@Model.Section.Id class="btn btn-outline-primary col-auto">
            <i class="fas fa-plus-square"></i> New Announcement
        </a>
        <p/>
    }
    <table class="table table-hover" id="latestPostsTable">
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        <a class="text-decoration-none" asp-controller="Post" asp-action="Index" asp-route-id=@post.Id>
                            <div class="row">
                                <div class="col-md-auto postTitle">
                                    @post.Title
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-auto postSubTitle">
                                    Posted by @post.AuthorName
                                </div>
                                <div class="postSubTitle">
                                    @post.Ago
                                </div>
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="noPost">
        <h3>
            Wow such empty! <br />
            Why not
            <a class="text-decoration-none" asp-controller="Post" asp-action="Create" asp-route-id="@Model.Section.Id">
                <span>create</span>
            </a>
            one?
        </h3>
    </div>
}